<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load  regis_tags %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'djigit/css/style.css' %}"/>
    <title>Title</title>
</head>
<body>
 <!-- Side navigation -->
 <div class="top">
    <ul>
        {% if cat_selected == 0 %}
                <li>Все категории</li>
        {% else %}
                <li><a href="{% url 'second' %}">Все категории</a></li>
        {% endif %}
        {% show_categories %}
    </ul>
</div>
<div class="sidenav">
  <a href="{% url 'home' %}">Main</a>
  <a href="#">Services</a>
  <a href="/client">Clients</a>
  <a href="#">Contact</a>
</div>

{% block content %}
{% endblock %}
</body>
</html>