<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'djigit/css/style.css' %}"/>
    <title>Title</title>
</head>
<body>
 <!-- Side navigation -->
    <div class="sidenav">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="/client">Clients</a>
      <a href="#">Contact</a>
    </div>
    <div class="topnav">
        {% if cat_selected == 0 %}
                <p>Все категории</p>
        {% else %}
                <p><a href="{% url 'home' %}">All category</a></p>
        {% endif %}
        {% for c in cats %}
            <p><a href="{{ c.get_absolute_url }}">{{c.name}}</a></p>
        {% endfor %}
</div>
{% block content %}
{% endblock %}
</body>
</html>